.vscode/settings.json
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-05d57ec25de1a7caf5ff.json
build/.cmake/api/v1/reply/cmakeFiles-v1-62fa169a98152188ea4c.json
build/.cmake/api/v1/reply/codemodel-v2-7f30438cd124a451e4cc.json
build/.cmake/api/v1/reply/directory-.-Debug-7253398a422abbcb23d2.json
build/.cmake/api/v1/reply/index-2023-10-19T06-23-41-0586.json
build/.cmake/api/v1/reply/target-ozone-Debug-21fd314f6370e9dfee8a.json
build/.cmake/api/v1/reply/toolchains-v1-074db5775ec40502811a.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/.cmake/api/v1/reply/cache-v2-3c641eef8e2b01f63273.json
build/.cmake/api/v1/reply/cmakeFiles-v1-0137082310b6ff19b5a7.json
build/.cmake/api/v1/reply/index-2023-10-19T06-26-57-0499.json
