.vscode/settings.json
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-05d57ec25de1a7caf5ff.json
build/.cmake/api/v1/reply/cmakeFiles-v1-62fa169a98152188ea4c.json
build/.cmake/api/v1/reply/codemodel-v2-7f30438cd124a451e4cc.json
build/.cmake/api/v1/reply/directory-.-Debug-7253398a422abbcb23d2.json
build/.cmake/api/v1/reply/index-2023-10-19T06-23-41-0586.json
build/.cmake/api/v1/reply/target-ozone-Debug-21fd314f6370e9dfee8a.json
build/.cmake/api/v1/reply/toolchains-v1-074db5775ec40502811a.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/.cmake/api/v1/reply/cache-v2-3c641eef8e2b01f63273.json
build/.cmake/api/v1/reply/cmakeFiles-v1-0137082310b6ff19b5a7.json
build/.cmake/api/v1/reply/index-2023-10-19T06-26-57-0499.json
build/.ninja_deps
build/.ninja_log
build/install_manifest.txt
build/ozone
build/t.rs
build/.cmake/api/v1/reply/codemodel-v2-25816019c4cb7ce70843.json
build/.cmake/api/v1/reply/directory-.-Debug-0f54b17b47be956a10ed.json
build/.cmake/api/v1/reply/index-2023-10-20T06-05-28-0835.json
build/.cmake/api/v1/reply/target-ozone-Debug-79ccde92790b1db94d5a.json
build/CMakeFiles/ozone.dir/src/avl.c.o
build/CMakeFiles/ozone.dir/src/fs.c.o
build/CMakeFiles/ozone.dir/src/ozone.c.o
build/CMakeFiles/ozone.dir/src/screen.c.o
build/CMakeFiles/ozone.dir/src/scripts.c.o
build/CMakeFiles/ozone.dir/src/string.c.o
build/CMakeFiles/ozone.dir/src/theme.c.o
build/CMakeFiles/ozone.dir/src/time.c.o
build/CMakeFiles/ozone.dir/src/utf8.c.o
build/.cmake/api/v1/reply/codemodel-v2-b78d5b44e03af99ca8dc.json
build/.cmake/api/v1/reply/index-2023-10-22T07-10-37-0071.json
build/.cmake/api/v1/reply/target-ozone-Debug-18cb1cabd47542fd4511.json
build/CMakeFiles/ozone.dir/src/api.c.o
