.vscode/settings.json
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-05d57ec25de1a7caf5ff.json
build/.cmake/api/v1/reply/cmakeFiles-v1-62fa169a98152188ea4c.json
build/.cmake/api/v1/reply/codemodel-v2-7f30438cd124a451e4cc.json
build/.cmake/api/v1/reply/directory-.-Debug-7253398a422abbcb23d2.json
build/.cmake/api/v1/reply/index-2023-10-19T06-23-41-0586.json
build/.cmake/api/v1/reply/target-ozone-Debug-21fd314f6370e9dfee8a.json
build/.cmake/api/v1/reply/toolchains-v1-074db5775ec40502811a.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/.cmake/api/v1/reply/cache-v2-3c641eef8e2b01f63273.json
build/.cmake/api/v1/reply/cmakeFiles-v1-0137082310b6ff19b5a7.json
build/.cmake/api/v1/reply/index-2023-10-19T06-26-57-0499.json
build/.ninja_deps
build/.ninja_log
build/install_manifest.txt
build/ozone
build/t.rs
build/.cmake/api/v1/reply/codemodel-v2-25816019c4cb7ce70843.json
build/.cmake/api/v1/reply/directory-.-Debug-0f54b17b47be956a10ed.json
build/.cmake/api/v1/reply/index-2023-10-20T06-05-28-0835.json
build/.cmake/api/v1/reply/target-ozone-Debug-79ccde92790b1db94d5a.json
build/CMakeFiles/ozone.dir/src/avl.c.o
build/CMakeFiles/ozone.dir/src/fs.c.o
build/CMakeFiles/ozone.dir/src/ozone.c.o
build/CMakeFiles/ozone.dir/src/screen.c.o
build/CMakeFiles/ozone.dir/src/scripts.c.o
build/CMakeFiles/ozone.dir/src/string.c.o
build/CMakeFiles/ozone.dir/src/theme.c.o
build/CMakeFiles/ozone.dir/src/time.c.o
build/CMakeFiles/ozone.dir/src/utf8.c.o
build/.cmake/api/v1/reply/codemodel-v2-b78d5b44e03af99ca8dc.json
build/.cmake/api/v1/reply/index-2023-10-22T07-10-37-0071.json
build/.cmake/api/v1/reply/target-ozone-Debug-18cb1cabd47542fd4511.json
build/CMakeFiles/ozone.dir/src/api.c.o
.cache/clangd/index/api.c.A7460DC1110A058F.idx
.cache/clangd/index/api.h.07BF78468EEE2754.idx
.cache/clangd/index/avl.c.42162A849D2EA9EB.idx
.cache/clangd/index/fs.c.BBD2739A1C30B67D.idx
.cache/clangd/index/lauxlib.h.25CAE135B1EC161B.idx
.cache/clangd/index/lua.h.6959BF5F24FEB8D4.idx
.cache/clangd/index/luaconf.h.4C360F37AC7E6626.idx
.cache/clangd/index/lualib.h.FD485890EE926AEA.idx
.cache/clangd/index/ozone.c.A337B5FDC8D3A1E8.idx
.cache/clangd/index/ozone.h.5B673CEBDA727682.idx
.cache/clangd/index/screen.c.8A208F9CE251ED66.idx
.cache/clangd/index/scripts.c.E05B38D046EFFB5A.idx
.cache/clangd/index/scripts.h.A154AB7ACFBC3D1C.idx
.cache/clangd/index/string.c.DD6C7A0262DD3206.idx
.cache/clangd/index/theme.c.8671504ECEE42CA0.idx
.cache/clangd/index/theme.h.2B072BF057C489B6.idx
.cache/clangd/index/time.c.18FCE46DF4DAE13F.idx
.cache/clangd/index/utf8.c.2033F4149F93677B.idx
build/.cmake/api/v1/reply/index-2023-10-22T18-56-13-0340.json
.cache/clangd/index/mem.c.D25FA01DD8794F9C.idx
.gitignore
build/.cmake/api/v1/reply/codemodel-v2-3f72d81211f3d23a96eb.json
build/.cmake/api/v1/reply/index-2023-10-23T03-39-37-0400.json
build/.cmake/api/v1/reply/target-ozone-Debug-003cd255bc83228dce6e.json
build/CMakeFiles/ozone.dir/src/mem.c.o
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.22.1/CMakeCCompiler.cmake
CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.22.1/CMakeSystem.cmake
CMakeFiles/3.22.1/CompilerIdC/a.out
CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.22.1/CompilerIdCXX/a.out
CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/ozone.dir/build.make
CMakeFiles/ozone.dir/cmake_clean.cmake
CMakeFiles/ozone.dir/compiler_depend.make
CMakeFiles/ozone.dir/compiler_depend.ts
CMakeFiles/ozone.dir/depend.make
CMakeFiles/ozone.dir/DependInfo.cmake
CMakeFiles/ozone.dir/flags.make
CMakeFiles/ozone.dir/link.txt
CMakeFiles/ozone.dir/progress.make
